.Game {
    font-size: 0;
}

/* .Doll-Container {
    
} */

.Doll {
    position: absolute;
    height: 100%;
}

.Item-Option {
    display: flex;
    margin-left: 275px;
    width: 600px;
    height: 600px;
}

.Image {
    width: 42.57px;
    height: 42.57px;
}

.Eyes-Option {
    display: flex;
    width: 600px;
}

.Eyes {
    height: 125px;
    width: 125px;
    object-fit: none;
    object-position: 58% 13%;
    transform: scale(33%);
    border: 2px solid red;
}

.Nose-Option {
    display: flex;
    width: 600px;
}

.Noses {
    height: 125px;
    width: 125px;
    object-fit: none;
    object-position: 49% 14%;
    transform: scale(33%);
    border: 2px solid red;
}